@import url("https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap");

html {
  font-family: "Kelly Slab", cursive, sans-serif;
  scroll-behavior: smooth;
}
body {
  font: 14px "Kelly Slab", cursive;
  -webkit-font-smoothing: antialiased;
  background-color: #111111;
  color: #ffffff;
}
